/lagrange.bak/
/appconfig.json
/cache.json
/cache.json.bak
/euleronebot.db
/device.json
/sig.bin
/src/euler_onebot.egg-info/
/src/EulerOneBot.egg-info/
/dist/
/build/
/.venv/
/.idea/
/.zed/
__pycache__/
appinfo.json
